<html lang="ru">
  <head>
  </head>
  <body>
  <style>
    #logo {
      font-family: Courier;
      font-weight: bold;
      background: #398eca;
      padding: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    header a { color: black; text-decoration: none; }


  </style>
    <header><a href="/"><span id="logo">РП</span> Каталог</a></header>
    <%= yield %>


    <% if authorized? %>
      <script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
      <script src="/js/vendor/underscore-min.js" type="text/javascript"></script>
      <script src="/js/vendor/backbone-min.js" type="text/javascript"></script>
      <script src="/js/admin.js" type="text/javascript"></script>
    <% end %>

    <div class="nl"></div>
    <br />
    <br />
    <br />
    <span style="float: left; padding-right: 60px ">«Русский пульс» &copy; 2014</span>

    <script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
    <div style="position: relative; top: -5px;" class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,odnoklassniki,facebook,twitter,moimir,gplus" data-yashareTheme="counter"></div> 
    


  </body>
</html>
